td {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 135px;
}

.header {
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-color: rgba(110, 151, 181, 0.73);
  padding: 5px;
  margin: auto;
  border-radius: 10px;
}

body {
  background-color: rgba(132, 152, 167, 0.53);
}

.hover {
  background-color: rgba(175, 171, 169, 0.58);
}

.x {

}

.o {

}

.alertbox {
  height: 100px;
  width: 100px;
  border: 2px solid chartreuse;
  background-color: black;
}




.test {
  display: block;
  background-color: chartreuse;


}
